<!-- Footer -->

<% let date = new Date(); %>
<% let year = date.getFullYear(); %>

<footer id="main-footer" class="mt-5 fixed-bottom">
    <div class="containe-fluid">
      <div class="row mt-2 bg-dark text-white mx-0">
          <div class="col text-center">
              <h6 class="pt-3 pb-1 copyright">&copy; Copyright <%= year %> <span id="year"></span>| Paul Farcas</h6>
          </div>
      </div>
    </div>
</footer>
