<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <div class="container mt-3 mb-2">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Welcome to my Books App</h1>
        </div>
      </div>
    </div>

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>
